spring:
  config:
    activate:
      on-profile: dev
  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true

aws:
  dynamodb-local:
    enabled: true

  s3:
    endpoint: http://localhost:4566  # LocalStack
